@import "tailwindcss";

@theme {
  --color-bg-gray: #f4f4f4;
  --color-sidebar-bg: #fbfbfb;
  --color-yellow-light: #fff9ec;
  --color-yellow-tag: #ffd43b;
}

body {
  background-color: var(--color-bg-gray);
  color: #333;
}
